 
  .app-container {
    font-family: sans-serif;
    background: #224D74;
    height: calc(100vh - 34px - 50px - 64px);
    padding: 2rem;
  }
  

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
