.App {
    align-items: center;
    font-family: sans-serif;
    background: #224D74;
}


.tittle {
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  